body {
    background-image: url('images/background.jpeg');
}

html,body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Style the center class to center the text inside. */
.center {
    text-align: center;
}

/* Style the content to be center in range in the middle. */
.content {
    background-color: white;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    flex-grow: 1;
}


/* 
.container-fluid {
    width: 65%;
} */

.project-header:after {
    /* font-family: 'FontAwesome';   */
    margin: 2px 2px;
    font-size: 13px;
    color: white;
    text: white;
    content: "\2796"; 
    float: right; 
}

.project-header.collapsed:after {
    /* symbol for minus */
    content: "\02795";
}


.btn-primary {
    background-color: #66ccff;
    border-radius: 5px;
    border: none;
    margin: 0px 20px; 
    padding: 5px 5px;
}

.btn-primary:toggle {
    background-color: #3f8fc4
}

.close-button {
    background-color: red;
    border-radius: 5px;
    border: none;
    margin: 0px 10px; 
    padding: 5px 5px;
}

/* Style the pagination buttons. */
.pagination {
  display: inline-block;
}

.pagebtn {
  border: none;
  outline: none;
  padding: 8px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}

.pagebtn.active {
  background-color: #66ccff;
  color: white;
  border-radius: 5px;
}

.pagebtn:hover:not(.active) {background-color: #ddd;}

.card {
    margin: 2px 4px;
    padding: 8px 16px;
    border-radius: 5px;
}

#post-comment-container {
    visibility: hidden;
}

#logout-container {
    visibility: hidden;
}

#login-container {
    visibility: hidden;
}

.portfolio-font {
    text-align: center;
    font-size: 2.75rem;
    padding: 5px 5px;
    padding-top: 50px;
    margin: 5px 5px;
    font-weight: 300;
}

.tab-font {
    text-align: center;
    font-size: 2.10rem;
    padding: 5px 5px;
    margin: 5px 5px;
    font-weight: 300;
}

.project-font {
    text-align: center;
    font-size: 1.88rem;
    padding: 5px 5px;
    margin: 5px 5px;
    font-weight: 300;
}


